* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* .pricing-table-parent {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.pricing-title {
    text-align: center;
    padding: 20px;
}

.pricing-table-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    background-image: url(img/Circle-Logo-PNG-Photo.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 23px;
    background-position-y: 0px
}

.pricing-table {
    background-color: #fff;
    border-collapse: collapse;
    flex: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    /* width: 33%; */
    max-width: 500px;
    /* align-self: flex-end; */
    /* justify-self: center; */
   flex-basis: calc(33.33% - 20px);  /* Adjust the width as needed */
    /* overflow: hidden; */


}


.pricing-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 155px;
   
}


.pricing-header p {
    font-weight: bold;
    font-size: 20px;
}
.pricing-header p:nth-child(2) {
    font-weight: initial;
    font-size: 16px;
}



.add-info {
    padding-bottom: 20px;
    padding-top: 10px;
}

.add-info p {
    font-weight: bold;
}

/* .add-info span {
    font-size: 16px;
    color: #959496;
} */
/* 
.add-info p {
    padding: 3px 0;
} */

hr {
    margin: 10px 0;
}

.pricing-price span {
    font-size: 16px;
    color: #959496;
}

.pricing-description {
    /* padding-top: 20px;
    padding-bottom: 30px; */
}

.pricing-description a,
.pricing-register-btn {
    display: block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /* margin: 20px auto 30px auto; */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* width: 250px; */
}

.pricing-description a:hover,
.pricing-register-btn:hover {
    background-color: black;
    color: white;
}

.pricing-description p {
    /* height: 50px; */

}

.pricing-features {
    /* display: flex;
    flex-direction: column;
    align-self: flex-end; */
}

.pricing-features ul {
    /* margin-top: 20px; */
    padding: 0 0 20px 0;

}

.pricing-features p {
    font-weight: bold;
    margin-bottom: 10px;
}

.pricing-features li {
    list-style: none;
    position: relative;
    padding-left: 20px;
    /* Space for the arrow */
    margin-bottom: 10px;
    /* padding: 7px 0; */
    font-size: 16px;
    line-height: 21px;
}

.pricing-features li::before {
    content: "➤";
    /* Unicode arrow character */
    position: absolute;
    left: 0;
}

/* Reset default list styles */
.icon-list {
    list-style: none;
    padding: 0;
    padding: 20px 0;
}

/* Add custom icons */
.icon-list li {
    position: relative;
    padding-left: 30px;
    /* Space for the icon */
    margin-bottom: 10px;
}

.icon-list li:before {
    content: "";
    position: absolute;
    left: 0;
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-list li.cross:before {
    background-image: url('img/icons8-cross-48.png');
    /* URL to your cross icon */
}

.icon-list li.check:before {
    background-image: url('img/icons8-checkmark.gif');
    /* URL to your checkmark icon */
}

.right-bg {
    background-position-x: 80%;
    background-position-y: bottom;
    z-index: 999;
}

/* POPUP  */
/* Styling for the buttons and pop-up content */
.custom-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.custom-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.custom-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.custom-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.membership-criteria {
    /* padding-left: 10px; */
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footnote {

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 60%;


}

.footnote li {
    list-style: disc;
}

.popup-list li {
    padding: 5px;
}

.benefits-title h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    /* Center the text */
    display: inline-block;
    position: relative;
}

.benefits-title {
    text-align: center;
    padding: 30px;
}

.benefits-title h3::before {
    content: "";
    position: absolute;
    bottom: -4px;
    /* Adjust this value to fine-tune the vertical position */
    left: 50%;
    /* Place it at the horizontal center */
    transform: translateX(-50%);
    /* Center it horizontally */
    width: 60%;
    /* Cover 80% of the title's width */
    height: 2px;
    background-color: #333;
    /* Color of the underline */
}

.benefit-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
    margin: 30px auto;
    max-width: 960px;
    /* Adjust the max-width as needed */
}

.benefit-content h3 {
    margin-bottom: 10px;
}

.benefit-content p,
.benefit-content ol,
.benefit-content ul {
    margin: 5px 0;
}

.two {
    margin-bottom: 20px;
}

.two h1 {
    text-transform: capitalize;
}

.two h1:before {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 60px;
    height: 2px;
    content: "";
    background-color: #25245d;
}

/* .two h1 span {
    font-size: 100px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
} */

.alt-two h1 {
    text-align: center;
}

.alt-two h1:before {
    left: 50%;
    margin-left: -30px;
}


/* === BASE HEADING === */

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

h1 span {
    display: block;
    /* font-size: 0.5em; */
    line-height: 1.3;
}

h1 em {
    font-style: normal;
    font-weight: 600;
}

.sticky-note {
    /* background-color: #ffd700; Yellow background color */
    /* border: 2px solid #959496; Orange border */
    /*  width: 200px;  Width of the sticky note */
    padding: 10px;
    /* Padding inside the sticky note */
    /* position: sticky; */
    top: 20px;
    /* Distance from the top of the viewport */
    margin-bottom: 20px;
}

.table-add-info {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    /* height: 36vh; */
}

.table-add-info th,
td {
    padding: 20px 0;
    /* text-align: left; */
    border-bottom: 1px solid #959496;
    /* Orange border for table cells */
    font-size: 16px;
}

tr {
    /* height: 105px; */
}


.w-40 {
    width: 40%;
}

.icon-iod {
    width: 20px;
    margin: 10px;
}

.renewal-p{
    text-align: justify;
}
.renewal-p ul li {
    padding: 5px 0;
}
.h-requirement {
    height: 160px;
}
.h-package {
    height: 80px;
}

@media only screen and (max-width: 1400px) {

    .table-add-info th,
    td {
        /* font-size: 12px; */
    }

    .w-40 {
        width: 30%;
    }

    tr {
        /* height: 117px; */
    }

    .icon-list li {
        /* font-size: 12px; */
        margin-bottom: 5px;
    }

    .pricing-description p {
        /* font-size: 14px; */
    }

    .footnote {
        width: 55%;
        font-size: 14px;
    }
    .pricing-header p:nth-child(2) {
        font-size: 14px;
    }
}


@media only screen and (max-width: 1250px) {
    .pricing-description p {
        height: 70px;
    }

    .pricing-description a,
    .pricing-register-btn {
        margin: 0;
    }

    .w-40 {
        width: 37%;
    }

    .pricing-features p {
        /* font-size: 13px; */
    }

    .pricing-table {
        flex-basis: calc(50% - 20px); 
    }

  
}


@media only screen and (max-width: 800px) {
    .pricing-table-container {
        display: block;
    }

    .pricing-table {
        width: 80%;
        margin: 30px auto;

    }

    .footnote{
        width: 100%;
    }

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-item {
    flex-basis: calc(33.33% - 20px); /* Adjust the width as needed */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  